.containerStep{
    font-size: 20px;
    color: var(--main-color);
    line-height: 23.5px;
    font-weight: 300;
    max-width: 400px;
}
.containerButtons{
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
}
.text{
    font-weight: normal;
    line-height: 29px;
}
.thanksText{
    font-weight: bold;
}

.secondText{
    font-style: italic;
}
